@charset "UTF-8";

html {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    vertical-align: baseline;
    text-decoration: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    user-select: none;
}

main {
    min-height: calc(100dvh - 40px - 56px);
    background: pink url('../../images_videos/images/forStyle/bakcgroundMobile.jpg') no-repeat center center;
    background-size: cover;
    padding: 30px 10px;
}

main li {
    list-style: none;
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    background-color: white;
    border-radius: 20px;
    padding: 6px;
    filter: drop-shadow(1px 2px 2px);
}

footer {
    background-color: rgb(35, 35, 35);
    color: white;
    height: 40px;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}
